@font-face {
    font-family: 'LOTR';
    src: url(RINGM___.ttf);
} 

body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    height:100vh;
    width:70%;
}

/*-------------- LANDING PAGE --------------*/

.welcome_page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: gold;
    font-family: 'LOTR';
    font-size: 2vw;
    text-align: center;
}

.hidden {
    display: none;
}

.select_player {
    height: 35%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.character {
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    border: 5px solid gold;
}

.start_game {
    height: 7%;
    width: 13%;
    background: url(images/gold1.jpg);
    font-size: 2vw;
    font-family: 'LOTR';
    display: block;
    margin: 0 auto;
    border: none;
}

h1, h3 {
    background: url(images/gold.jpg);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 7vw;
    margin: 0.4em 0 1em 0;
}

h3 {
    font-size: 3vw;
    margin-bottom: 1.5em;
}

/*-------------- GAMEBOARD --------------*/

.game_board_container{
    height: 100%;
    width: 75%;
    background-color: lightpink;

}

.dice_area {
    height: 100px;
    width: 100px;
    background-color: royalblue;
    color: white;
    border: 1px solid white;
    position: relative;
    top: 100px;
    left: 200px;
}

.bottom {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: flex-end;
    /* flex-direction: row-reverse; */
}

/*.big {
    height: 100%;
    width: 10%;
    background-color: green;
}

.small_spaces {

    display:flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}*/
.small{}

.big{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    border: 1px solid green;
    box-sizing: border-box;
}

.players_container{
    height:98%;
    width:20%;
    border: 5px solid gold;
}

.player1 {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-size: cover;
}

.top_game_board,.bottom_game_board{
    height:15%;
    width:100%;
    background-color: plum;
}

.bottom_game_board, .top_game_board {
    width:100%;
    display:flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.corner{
    height:100%;
    width:20%;
}

.top_row_properties > .properties, .bottom_row_properties > .properties{
    height: 100%;
    width: 11.11%; 
    background-color: pink;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.left_row_properties > .properties, .right_row_properties > .properties{
    height: 11.11%;
    width: 100%; 
    background-color: pink;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

.bottom_row_properties, .top_row_properties {
    height:100%;
    width:60%;
    background-color:lightblue;
    display: flex;
    font-size: .9rem;
    /*font-size:0;*/
}
/* ======  ALL ROTATIONS  ======= */
.top_row_properties {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.top_row_properties > div > .property_title {
    position: relative;
    top: 10%;
    left: 0%;
    text-align: center;
    font-size: .9rem;
}

.top_row_properties > div > .text_bar {
    top: 25%;
    right: 0%;
}

.top_row_properties > .properties > .property_price {
    position: relative;
    top: 45%;
    right: 0%;
    text-align: center;
}

.left_row_properties > div > .color_bar {
    transform: rotate(90deg);
    position: relative;
    top: 42.75%;
    left: 84%;
    height: 15%;
    width: 27%;
}

.left_row_properties > div > .property_title {
    transform: rotate(90deg);
    position: relative;
    top: 29.75%;
    left: 74%;
    height: 13%;
    width: 32%;
    text-align: center;
    font-size: .9rem;
}

.left_row_properties > div > .text_bar {
    top: 43.75%;
    left: 74%;
}

.left_row_properties > div > .property_price {
    transform: rotate(90deg);
    position: relative;
    top: 15.75%;
    right: 7%;
    height: 13%;
    width: 32%;
    text-align: center;
}

.right_row_properties > div > .color_bar {
    transform: rotate(270deg);
    position: relative;
    top: 42%;
    right: 12%;
    height: 15%;
    width: 27.54%;
}

.right_row_properties > div > .property_title {
    transform: rotate(270deg);
    position: relative;
    top: 29.75%;
    right: 0%;
    height: 13%;
    width: 25%;
    text-align: center;
    font-size: .9rem;
}

.right_row_properties > div > .text_bar {
    top: 43.75%;
    right: 0%;
}

.right_row_properties > div > .property_price {
    transform: rotate(270deg);
    position: relative;
    top: 12.75%;
    left: 75%;
    height: 0%;
    width: 32%;
    text-align: center;
}

.color_bar,.text_bar {
    height: 15%;
}

.color_bar.brown{
    background-color: #8a6d3b;
}

.color_bar.bluegray{
    background-color: #66afe9;
}

.color_bar.violet{
    background-color: violet;
}

.color_bar.orange{
    background-color: orange;
}

.color_bar.red{
    background-color: red;
}

.color_bar.yellow{
    background-color: yellow;
}

.color_bar.green{
    background-color: green;
}

.color_bar.blue{
    background-color: blue;
}

/*.property_title{*/
    /*font-size: 1rem;*/
/*}*/

.middle_game_board{
    height: 70%;
    width: 100%;
    display: flex;
    background-color: mediumpurple;
}

.middle_left_board, .middle_right_board {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
}

.middle_middle_board {
    height: 100%;
    width: 60%;
    display: inline-flex;
    border: 1px solid yellow;
}

.left_row_properties, .right_row_properties {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

/*.left_row_properties > .properties{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/

/*.left_row_properties {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}*/

/*-------------- players--------------*/

.players{
    height: 40%;
    width: 80%;
    margin: 5% auto;
    text-align: center;
    border: 5px solid gold;
    font-family: 'LOTR';
}

.player_name{
    height:15%;
    width:100%;
    font-size: 150%;
    background-color: gold;
}

.player_balance{
    height:60%;
    width:100%;
    font-size: 120%;
}

.player_character {
    height: 15vh;
    width: 7.5vw;
    border-radius: 50%;
    border: 5px solid gold;
}

.roll_dice, .end_turn {
    height: 9%;
    width: 35%;
    background: url(images/gold1.jpg);
    font-size: 1.3vw;
    font-family: 'LOTR';
    font-weight: 900;
    margin: 0 auto;
    border: none;
}

.roll_dice {
    margin-right: 5%;
}

